<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>	<title>Where To Eat</title>
</head>
<body>

<script>
        var x=document.getElementById("demo");
        function getLocation()
         {
        if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
        }
        function showPosition(position)
        {
        x.innerHTML="Latitude: " + position.coords.latitude + 
        "<br>Longitude: " + position.coords.longitude;  
        }
        getLocation()
</script>
 	<!-- BANNER -->
	<div class="container banner">
    	<div class="banner-text">
    		<p class="m-0 text-uppercase">Where to Eat?!</p>
      		<p class="m-0">Helping you solve the every day problem of "where to eat?"</p>
    	</div>		
  	</div>
 	<br>


	<!-- OPTION -->
	<div class="container-fluid p-4">
	 	<div class="card-deck">
	 		<!-- OPTION 1 -->
 	 		<a class="card" href="javascript:void(0)">
        		<div class="front p-3" style="background-image: url(../img/bg1.jpg)">
          			<p>OPTION I</p>        
        		</div>
        		<div class="back">
        		  	<div id = "randomSurprise">   </div>
		          	
         			<div id = "randomres">
			            <p>We will give you a random suprise!</p>
     					<button type="button" class="btn btn-success btn-lg btn-block" id = "randomResturant">Random!</button>
		          	</div>
		        
        		</div>
      		</a>	
      		<!-- OPTION 2 -->
      		<a class="card" href="javascript:void(0)">
        		<div class="front p-3" style="background-image: url(../img/bg2.jpg)">
          			<p>OPTION II</p>      
        		</div>
        		<div class="back">
         			<div>
			            <p>I would love to the top 3 restaurants!!</p>
            			<button type="button" class="btn btn-warning btn-lg btn-block">Top 3!!</button>
		          	</div>
        		</div>
      		</a>	
      		<!-- OPTION 3 --> 	
      		<a class="card" href="javascript:void(0)">
        		<div class="front p-3" style="background-image: url(../img/bg3.jpg)">
          			<p>OPTION III</p>    
        		</div>
        		<div class="back">
         			<div>
		           		<p>I prefer to customize my search!!!</p>   
		           		<form>
		           			<div class="form-group">
		           				<select class="form-control" th:field="*{foodTypeOptions}">
			           				<option th:each="option : ${foodTypeOptions}" th:value="${option.value}" th:text="${option.name}"></option>         					
		           				</select>
		           			</div>
	           				<div class="form-group">
		           				<select class="form-control" th:field="*{priceRangeOptions}">
		           					<option th:each="option : ${priceRangeOptions}" th:value="${option.value}" th:text="${option.name}"></option>    
		           				</select>
		           			</div>
	           				<div class="form-group">
		           				<select class="form-control" th:field="*{busyRangeOptions}">
		           					<option th:each="option : ${busyRangeOptions}" th:value="${option.value}" th:text="${option.name}"></option>    
		           				</select>
		           			</div>
	           				<div class="form-group">
		           				<select class="form-control" th:field="*{ratingOptions}">
		           					<option th:each="option : ${ratingOptions}" th:value="${option.value}" th:text="${option.name}"></option>    
		           				</select>
		           			</div>
		           			<div class="form-group">
		           				<input type="number" class="form-control" placeholder="Distance">
		           			</div>
	           			  <button type="submit" class="btn btn-primary btn-lg btn-block">Search!!!</button>
		           		</form>      
		          	</div>
        		</div>
      		</a>	 	 	
	 	</div>	
	</div>
	
	
	
	<script>
	
	$('#randomResturant').click(function(){
			
		document.getElementById('randomSurprise').innerHTML = "";
			

		$.getJSON('random', function(data){
			$('randomSurprise').show()

			$('#randomSurprise').append('Name:' + data.name +' <br>' +
					'Description:' + data.description +' <br>' +
					'Address:' + data.address +' <br>' +
					'Food:' + data.foodType +' <br>' +
					'Hours:' + data.hours +' <br>' +
					'Rating:' + data.rating +' <br>' +
					'Price Scale:' + data.priceScale +' <br>' 
					)
			
			
		})
		
	});
	</script>
	
	
	
	
	

	
</body>
</html>





